.Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(9, 9, 30) 20%,
    rgba(26, 25, 29, 1) 100%
  );
  gap: 3rem;
}

.Home-center {
  background: transparent;
  width: 55%;
}

h2.small-text.hi {
  font-size: 1.2rem;
}

h2.small-text {
  background-image: linear-gradient(
    90deg,
    rgb(187, 237, 233) -20%,
    rgb(114, 119, 243) 30%,
    rgb(205, 91, 230) 70%
  );
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  animation: slideInLeft 1s ease-in-out;
}

h1.big-text {
  background-image: linear-gradient(
    90deg,
    rgb(187, 237, 233) -20%,
    rgb(114, 119, 243) 30%,
    rgb(205, 91, 230) 70%
  );
  background-clip: text;
  color: transparent;
  font-size: 6.1rem;
  animation: slideInLeft 1s ease-in;
}

p.micro-text {
  background: transparent;
  color: rgb(191, 220, 247);
}

.Home-right {
  background: transparent;
  width: 40%;
}

hr {
  border: none;
  border-top: 6px solid rgb(26, 25, 29);
  margin: 20px 0;
  width: 60%;
}

.imgContainer {
  width: 450px;
  height: 450px;
  background-color: rgb(99, 140, 243);
  /* background: transparent; */
  border-radius: 69% 10% 11% 63% / 22% 10% 35% 41%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  float: right;
  overflow: hidden;
  animation: borderAnimation 4s linear infinite;
}

.imgContainer .img {
  height: 120%;
  background: transparent;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  left: calc(50% - 14px);
  width: 0;
  /* height: 30px;
  border: 1px solid; */
  color: rgb(152, 83, 255);
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-radius: 3px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 1550px) {
  h2.small-text.hi {
    font-size: 1.2rem;
  }

  h2.small-text {
    font-size: 1.5rem;
  }

  h1.big-text {
    font-size: 5rem;
  }

  hr {
    border: none;
    border-top: 6px solid rgb(26, 25, 29);
    margin: 18px 0;
    width: 60%;
  }

  .imgContainer {
    width: 390px;
    height: 390px;
  }
}

@media (max-width: 1280px) {
  h2.small-text.hi {
    font-size: 2.2rem;
  }

  h2.small-text {
    font-size: 1.7rem;
  }

  h1.big-text {
    font-size: 4rem;
  }

  hr {
    border: none;
    border-top: 6px solid rgb(26, 25, 29);
    margin: 18px 0;
    width: 60%;
  }

  .imgContainer {
    width: 390px;
    height: 390px;
  }
}

@media (max-width: 1024px) {
  h2.small-text.hi {
    font-size: 1.3rem;
  }

  h2.small-text {
    font-size: 1.4rem;
  }

  h1.big-text {
    font-size: 3rem;
  }

  hr {
    border: none;
    border-top: 6px solid rgb(26, 25, 29);
    margin: 15px 0;
    width: 60%;
  }

  .imgContainer {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: 800px) {
  h2.small-text.hi {
    font-size: 2rem;
  }

  h2.small-text {
    font-size: 1.8rem;
  }

  h1.big-text {
    font-size: 3.15rem;
  }

  hr {
    border: none;
    border-top: 6px solid rgb(26, 25, 29);
    margin: 20px 0;
    width: 60%;
  }

  .Home-right {
    display: none;
  }

  .Home-center {
    width: 70%;
  }
}

@media (max-width: 500px) {
  h2.small-text.hi {
    font-size: 1.7rem;
  }

  h2.small-text {
    font-size: 1.4rem;
  }

  h1.big-text {
    font-size: 2.8rem;
  }

  hr {
    border: none;
    border-top: 6px solid rgb(26, 25, 29);
    margin: 18px 0;
  }

  .Home-right {
    display: none;
  }

  .Home-center {
    width: 74%;
  }
}
